html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.likesButton {
  cursor: pointer;
  background-color: rgb(39, 142, 214);
  box-shadow: 0px 5px 0px rgb(33, 117, 175);
  font-size: 30px;
  outline: none;
  margin-top: 100px;
  border-radius: 8px;
  width: 150px;
  color: white;
  padding: 10px;
  border: none;
}

.likesButton:active {
  background-color: rgb(39, 142, 214);
  box-shadow: 0 0px rgb(33, 117, 175);
  transform: translateY(5px);
}
